/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    background-color: #6441a4;
    color: #ffffff;
}

body {
    padding: 2em 10em;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}

h1 a {
    color: #ffffff;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

form input {
    border: 0;
    color: black;
    display: block;
    float: left;
    font-size: 1.5em;
    font-weight: 100;
    line-height: 1em;
    padding: .5em 1em;
    width: 80%;
}

form button {
    display: block;
    background-color: black;
    border: 0;
    color: white;
    float: left;
    padding: 0;
    margin: 0;
    height: 3.25em;
    width: 8%;
}

a.thumb {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    height: 120px;
    margin-bottom: 1em;
    width: 100%;
    text-decoration: none;
}

a.thumb .grad {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    padding: .8em .6em;
}

a.thumb:hover {
    outline: .5em solid #a186be;
}

a.thumb * {
    color: #ffffff;
}

a.thumb .title {
    font-family: 'Oswald', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 1);
}

a.thumb .subtitle {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    font-weight: 100;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 1);
}

a.thumb:nth-of-type(2n+1) {
    clear: both;
}

#twitch-player {
    margin: 0 auto;
}

#scrub {
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 854px;
}

#filter {
    margin-top: 340px;
    position: absolute;
    text-align: center;
    width: 854px;
    z-index: 10;
}

#filter a {
    border: 1px solid #666666;
    color: #666666;
    display: inline-block;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    width: 120px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 1);
}

#filter a.highlighted {
    border-color: #ffffff;
    color: #ffffff;
}

#midlayer {
    /*display: none;*/
    pointer-events: none;
    position: absolute;
    z-index: 2;
    width: 854px;
    /*height: 402px;*/
    height: 480px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+66,0.7+82,0+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 66%, rgba(0,0,0,0.7) 82%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 66%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 66%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#chart-wrap {
    pointer-events: none;
    /*display: none;*/
    position: absolute;
    margin-top: 363px;
    margin-left: 0;
    padding-left: 15px;
    z-index: 5;
}

#label-set {
    margin-top: 445px;
    text-align: center;
}

.label {
    font-size: .9em;
    margin-left: 2.2em;
    padding-left: .5em;
    border-left: 2px solid;
    display: inline-block;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 1);
}

#label-game {
    color: #0296ce;
    border-color: #0296ce;
}

#label-highlight {
    color: #47ca00;
}

#label-chat {
    color: #999999;
}

.c3, .c3 * {
    pointer-events: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
