{% extends "master.html" %}
{% block title %} | Watching {{video_id}}{% endblock %}
{% block content %}
    <script src= "http://player.twitch.tv/js/embed/v1.js"></script>

    <div id="visuals">
        <div id="filter">
            <a href="#" id="all-chat-graph">All Chat</a>
            <a href="#" id="no-emotes-graph" class="highlighted">Without Emotes</a>
            <a href="#" id="emotes-graph">With Emotes</a>
        </div>
        <div id="chart-wrap">
            <div id="chart"></div>
        </div>
        <div id="midlayer">
            <div id="label-set">
                <div id="label-game" class="label">Game</div>
                <div id="label-highlight" class="label">Highlight</div>
                <div id="label-chat" class="label">Chat</div>
            </div>
        </div>
        <div id="twitch-player"></div>
    </div>

    <script type="text/javascript">
    var options = {
        width: 854,
        height: 480,
        {% if video_id == "82878048" %}
        time: "5h32m0s",
        {% endif %}
        video: "v{{video_id}}"
    };
    var player = new Twitch.Player("twitch-player", options);
    player.setVolume(0.5);
    player.addEventListener(Twitch.Player.PAUSE, () => { console.log('Player is paused!'); });
    </script>

    <script type="text/javascript">
    // C3.js chart
    var chart = c3.generate({
        bindto: '#chart',
        data: {
            x: 'x',
            columns: [
                ['x', {{ graph_x }}],
                ['game', {{ graph_game }}],
                ['chat', {{ graph_chat_no_emotes }}],
                ['highlights', {{ graph_highlights_no_emotes }}],
            ],
            type: 'area',
            types: {
                highlights: 'bar',
                chat: 'area'
            },
            colors: {
                game: '#0296ce',
                chat: '#999999',
                highlights: '#47ca00'
            }
        },
        interaction: {
            enabled: false
        },
        axis: {
            x: { show: false },
            y: {
                show: false,
                max: 1,
                min: 0
            }
        },
        tooltip: {
            show: false
        },
        point: {
            show: false
        },
        size: {
            width: 824,
            height: 80
        },
        padding: {
            left: 0,
            right: 0,
            bottom: 0
        },
        bar: {
            width: 2
        },
        legend: {
            show: false
        }
    });
    </script>

    <script type="text/javascript">
    function switch_all_chat() {
        chart.load({
            columns: [
                ['chat', {{ graph_all_chat }}],
                ['highlights', {{ graph_highlights_all_chat }}]
            ]
        });
        $('.highlighted').removeClass('highlighted');
        $('#all-chat-graph').attr('class', 'highlighted');
    }

    function switch_no_emotes_only() {
        chart.load({
            columns: [
                ['chat', {{ graph_chat_no_emotes }}],
                ['highlights', {{ graph_highlights_no_emotes }}]
            ]
        });
        $('.highlighted').removeClass('highlighted');
        $('#no-emotes-graph').attr('class', 'highlighted');
    }

    function switch_emotes_only() {
        chart.load({
            columns: [
                ['chat', {{ graph_chat_emotes_only }}],
                ['highlights', {{ graph_highlights_emotes }}]
            ]
        });
        $('.highlighted').removeClass('highlighted');
        $('#emotes-graph').attr('class', 'highlighted');
    }

    $('#all-chat-graph').click(switch_all_chat);
    $('#emotes-graph').click(switch_emotes_only);
    $('#no-emotes-graph').click(switch_no_emotes_only);
    </script>

    <script type="text/javascript">
    window.onload = function() {
        $('#visuals').hover(
            function () {
                $('#chart-wrap').fadeIn(225);
                $('#midlayer').fadeIn(225);
                $('#filter').fadeIn(225);
            },
            function () {
                $('#chart-wrap').fadeOut(225);
                $('#midlayer').fadeOut(225);
                $('#filter').fadeOut(225);
            }
        )
    }
    </script>

{% endblock %}
